{% extends "base_generic.html" %}
{% load static %}
{% block title %}FMCS Ranking{% endblock %}
{% block favicon %}{% static 'images/logo_fmcs.png' %}{% endblock %}
{% block leaderboard_active %}active{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
{% endblock %}


{% block content %}

<!-- ***** TOP Players carousel Start ***** -->
<div class="categories-collections">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="collections">
                <div class="page-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <div class="line-dec"></div>
                                <h2>FMCS <em>Top</em> Players</h2>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="owl-collection owl-carousel owl-loaded owl-drag">
                                {% for player in top_players %}
                                <div class="item">
                                    <img src="{{ player.logo.url }}" alt="">
                                    <div class="down-content">
                                        <h4>{{ player.name }}</h4>
                                        <span class="collection">Rating:<br><strong>
                                            {{ player.rating|floatformat:"0" }}</strong></span>
                                        <span class="category">Ranking:<br><strong>{{ player.ranking }}</strong></span>
                                        <div class="main-button">
                                            <a href="{% url 'team_profile' player.formatted_name %}">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** TOP Players carousel End ***** -->


<div class="discover-items">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h2>Leaderboard <em>FMCS</em></h2>
                </div>
            </div>
            <div class="col-lg-7">
                <div id="leaderboard-container">
                    <form id="search-form" name="gs" method="get" role="search">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4">
                                <fieldset>
                                    <input type="text" name="keyword" id="searchInput" class="searchText"
                                           placeholder="Type Something..." autocomplete="on">
                                </fieldset>
                            </div>
<!--                            <div class="col-lg-3">-->
<!--                                <fieldset>-->
<!--                                    <select name="category" class="form-select" aria-label="Default select example"-->
<!--                                            id="chooseCategory" onchange="this.form.submit()">-->
<!--                                        <option value="">All Regions</option>-->
<!--                                        <option value="UK">UK</option>-->
<!--                                        <option value="CIS">CIS</option>-->
<!--                                        <option value="Europe">Europe</option>-->
<!--                                        <option value="Asia">Asia</option>-->
<!--                                        <option value="America">America</option>-->
<!--                                    </select>-->
<!--                                </fieldset>-->
<!--                            </div>-->
<!--                            <div class="col-lg-3">-->
<!--                                <fieldset>-->
<!--                                    <select name="ranking_period" class="form-select"-->
<!--                                            aria-label="Default select example" id="chooseCategory"-->
<!--                                            onchange="this.form.submit()">-->
<!--                                        <option value="">Ranking Period</option>-->
<!--                                        <option value="Ending-Soon">Ending Soon</option>-->
<!--                                        <option value="Coming-Soon">Coming Soon</option>-->
<!--                                        <option value="Closed">Closed</option>-->
<!--                                    </select>-->
<!--                                </fieldset>-->
<!--                            </div>-->
<!--                            <div class="col-lg-2">-->
<!--                                <fieldset>-->
<!--                                    <button type="submit" class="main-button">Search</button>-->
<!--                                </fieldset>-->
<!--                            </div>-->
                        </div>
                    </form>
                </div>

            </div>
            <div id="search-results">
                {% include 'rating/search_results.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/ranking_search.js' %}"></script>
<script src="{% static 'js/searchbar.js' %}"></script>
{% endblock %}
