<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="discover-items">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h2>Discover Some Of Our <em>Items</em>.</h2>
                </div>
            </div>
            <div class="col-lg-7">
                <form id="search-form" name="gs" method="submit" role="search" action="#">
                    <div class="row">
                        <div class="col-lg-4">
                            <fieldset>
                                <input type="text" name="keyword" class="searchText" placeholder="Type Something..."
                                       autocomplete="on" required>
                            </fieldset>
                        </div>
                        <div class="col-lg-3">
                            <fieldset>
                                <select name="Category" class="form-select" aria-label="Default select example"
                                        id="chooseCategory" onchange="this.form.click()">
                                    <option selected>All Categories</option>
                                    <option type="checkbox" name="option1" value="Music">Music</option>
                                    <option value="Digital">Digital</option>
                                    <option value="Blockchain">Blockchain</option>
                                    <option value="Virtual">Virtual</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-3">
                            <fieldset>
                                <select name="Price" class="form-select" aria-label="Default select example"
                                        id="chooseCategory" onchange="this.form.click()">
                                    <option selected>Available</option>
                                    <option value="Ending-Soon">Ending Soon</option>
                                    <option value="Coming-Soon">Coming Soon</option>
                                    <option value="Closed">Closed</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-2">
                            <fieldset>
                                <button class="main-button">Search</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="banner">Double Item</span>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                    <span class="author">
                      <img src="{% static 'images/author.jpg' %}" alt=""
                           style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                    </span>
                            <img src="{% static 'images/discover-01.jpg' %}" alt="" style="border-radius: 20px;">
                            <h4>Mutant Ape Bored</h4>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                    <span class="author">
                      <img src="{% static 'images/author.jpg' %}" alt=""
                           style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                    </span>
                            <img src="{% static 'images/discover-02.jpg' %}" alt="" style="border-radius: 20px;">
                            <h4>His Other Half</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="line-dec"></div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-6">
                                    <span>Current Bid: <br> <strong>8.16 ETH</strong></span>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <span>Category: <br> <strong>Digital Art</strong></span>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <span>Collection:: <br> <strong>2/2</strong></span>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <span>Ends In: <br> <strong>25th Nov</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="details.html">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12">
                    <span class="author">
                      <img src="{% static 'images/author.jpg' %}" alt=""
                           style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                    </span>
                            <img src="{% static 'images/discover-03.jpg' %}" alt="" style="border-radius: 20px;">
                            <h4>Genesis Meta Boom</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="line-dec"></div>
                            <div class="row">
                                <div class="col-6">
                                    <span>Current Bid: <br> <strong>5.15 ETH</strong></span>
                                </div>
                                <div class="col-6">
                                    <span>Ends In: <br> <strong>26th Nov</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="details.html">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12">
                    <span class="author">
                      <img src="{% static 'images/author.jpg' %}" alt=""
                           style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                    </span>
                            <img src="{% static 'images/discover-04.jpg' %}" alt="" style="border-radius: 20px;">
                            <h4>Another Half Ape</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="line-dec"></div>
                            <div class="row">
                                <div class="col-6">
                                    <span>Current Bid: <br> <strong>3.63 ETH</strong></span>
                                </div>
                                <div class="col-6">
                                    <span>Ends In: <br> <strong>24th Nov</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="details.html">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12">
                    <span class="author">
                      <img src="{% static 'images/author.jpg' %}" alt=""
                           style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                    </span>
                            <img src="{% static 'images/discover-03.jpg' %}" alt="" style="border-radius: 20px;">
                            <h4>Pixel Sand Box</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="line-dec"></div>
                            <div class="row">
                                <div class="col-6">
                                    <span>Current Bid: <br> <strong>4.68 ETH</strong></span>
                                </div>
                                <div class="col-6">
                                    <span>Ends In: <br> <strong>28th Nov</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="details.html">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12">
                    <span class="author">
                      <img src="{% static 'images/author.jpg' %}" alt=""
                           style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                    </span>
                            <img src="{% static 'images/discover-04.jpg' %}" alt="" style="border-radius: 20px;">
                            <h4>Another Half Ape</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="line-dec"></div>
                            <div class="row">
                                <div class="col-6">
                                    <span>Current Bid: <br> <strong>2.03 ETH</strong></span>
                                </div>
                                <div class="col-6">
                                    <span>Ends In: <br> <strong>25th Nov</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="details.html">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12">
                    <span class="author">
                      <img src="{% static 'images/author.jpg' %}" alt=""
                           style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                    </span>
                            <img src="{% static 'images/discover-06.jpg' %}" alt="" style="border-radius: 20px;">
                            <h4>Invisible NFT Land</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="line-dec"></div>
                            <div class="row">
                                <div class="col-6">
                                    <span>Current Bid: <br> <strong>2.03 ETH</strong></span>
                                </div>
                                <div class="col-6">
                                    <span>Ends In: <br> <strong>25th Nov</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="details.html">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12">
                    <span class="author">
                      <img src="{% static 'images/author.jpg' %}" alt=""
                           style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                    </span>
                            <img src="{% static 'images/discover-05.jpg' %}" alt="" style="border-radius: 20px;">
                            <h4>Another Half Ape</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="line-dec"></div>
                            <div class="row">
                                <div class="col-6">
                                    <span>Current Bid: <br> <strong>2.64 ETH</strong></span>
                                </div>
                                <div class="col-6">
                                    <span>Ends In: <br> <strong>25th Nov</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="details.html">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="currently-market">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h2><em>Items</em> Currently In The Market.</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="filters">
                    <ul>
                        <li data-filter="*" class="active">All Items</li>
                        <li data-filter=".msc">Music Art</li>
                        <li data-filter=".dig">Digital Art</li>
                        <li data-filter=".blc">Blockchain</li>
                        <li data-filter=".vtr">Virtual</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row grid">
                    <div class="col-lg-6 currently-market-item all msc">
                        <div class="item">
                            <div class="left-image">
                                <img src="{% static 'images/market-01.jpg' %}" alt=""
                                     style="border-radius: 20px; min-width: 195px;">
                            </div>
                            <div class="right-content">
                                <h4>Music Art Super Item</h4>
                                <span class="author">
                    <img src="{% static 'images/author.jpg' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6>Liberty Artist<br><a href="#">@libertyart</a></h6>
                  </span>
                                <div class="line-dec"></div>
                                <span class="bid">
                    Current Bid<br><strong>2.03 ETH</strong><br><em>($8,240.50)</em>
                  </span>
                                <span class="ends">
                    Ends In<br><strong>4D 08H 15M 42S</strong><br><em>(July 24th, 2022)</em>
                  </span>
                                <div class="text-button">
                                    <a href="details.html">View Item Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 currently-market-item all dig">
                        <div class="item">
                            <div class="left-image">
                                <img src="{% static 'images/market-01.jpg' %}" alt=""
                                     style="border-radius: 20px; min-width: 195px;">
                            </div>
                            <div class="right-content">
                                <h4>Digital Crypto Artwork</h4>
                                <span class="author">
                    <img src="{% static 'images/author.jpg' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6>Liberty Artist<br><a href="#">@libertyart</a></h6>
                  </span>
                                <div class="line-dec"></div>
                                <span class="bid">
                    Current Bid<br><strong>2.03 ETH</strong><br><em>($7,200.50)</em>
                  </span>
                                <span class="ends">
                    Ends In<br><strong>2D 06H 30M 25S</strong><br><em>(July 26th, 2022)</em>
                  </span>
                                <div class="text-button">
                                    <a href="details.html">View Item Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 currently-market-item all blc">
                        <div class="item">
                            <div class="left-image">
                                <img src="{% static 'images/market-01.jpg' %}" alt=""
                                     style="border-radius: 20px; min-width: 195px;">
                            </div>
                            <div class="right-content">
                                <h4>Blockchain Item One</h4>
                                <span class="author">
                    <img src="{% static 'images/author.jpg' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6>Liberty Artist<br><a href="#">@libertyart</a></h6>
                  </span>
                                <div class="line-dec"></div>
                                <span class="bid">
                    Current Bid<br><strong>3.64 ETH</strong><br><em>($6,600.00)</em>
                  </span>
                                <span class="ends">
                    Ends In<br><strong>6D 05H 40M 50S</strong><br><em>(July 28th, 2022)</em>
                  </span>
                                <div class="text-button">
                                    <a href="details.html">View Item Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 currently-market-item all vtr">
                        <div class="item">
                            <div class="left-image">
                                <img src="{% static 'images/market-01.jpg' %}" alt=""
                                     style="border-radius: 20px; min-width: 195px;">
                            </div>
                            <div class="right-content">
                                <h4>Virtual Currency Art</h4>
                                <span class="author">
                    <img src="{% static 'images/author.jpg' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6>Liberty Artist<br><a href="#">@libertyart</a></h6>
                  </span>
                                <div class="line-dec"></div>
                                <span class="bid">
                    Current Bid<br><strong>2.44 ETH</strong><br><em>($8,800.50)</em>
                  </span>
                                <span class="ends">
                    Ends In<br><strong>3D 05H 20M 58S</strong><br><em>(July 14th, 2022)</em>
                  </span>
                                <div class="text-button">
                                    <a href="details.html">View Item Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 currently-market-item all vrt dig">
                        <div class="item">
                            <div class="left-image">
                                <img src="{% static 'images/market-01.jpg' %}" alt=""
                                     style="border-radius: 20px; min-width: 195px;">
                            </div>
                            <div class="right-content">
                                <h4>Digital Art Item</h4>
                                <span class="author">
                    <img src="{% static 'images/author.jpg' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6>Liberty Artist<br><a href="#">@libertyart</a></h6>
                  </span>
                                <div class="line-dec"></div>
                                <span class="bid">
                    Current Bid<br><strong>2.50 ETH</strong><br><em>($8,400.50)</em>
                  </span>
                                <span class="ends">
                    Ends In<br><strong>4D 08H 32M 18S</strong><br><em>(July 16th, 2022)</em>
                  </span>
                                <div class="text-button">
                                    <a href="details.html">View Item Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 currently-market-item all msc blc">
                        <div class="item">
                            <div class="left-image">
                                <img src="{% static 'images/market-01.jpg' %}" alt=""
                                     style="border-radius: 20px; min-width: 195px;">
                            </div>
                            <div class="right-content">
                                <h4>Blockchain Music Design</h4>
                                <span class="author">
                    <img src="{% static 'images/author.jpg' %}" alt="" style="max-width: 50px; border-radius: 50%;">
                    <h6>Liberty Artist<br><a href="#">@libertyart</a></h6>
                  </span>
                                <div class="line-dec"></div>
                                <span class="bid">
                    Current Bid<br><strong>2.44 ETH</strong><br><em>($8,200.50)</em>
                  </span>
                                <span class="ends">
                    Ends In<br><strong>5D 10H 22M 24S</strong><br><em>(July 18th, 2022)</em>
                  </span>
                                <div class="text-button">
                                    <a href="details.html">View Item Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>