{% extends "base_generic.html" %}
{% load static %}
{% block title %}FMCS{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="header-text">
                    <h6>FOOTBALL MANAGER CHAMPIONSHIP SERIES</h6>
                    <h2>Create, Play &amp; Win Games with FMCS.</h2>
                    <!--                    <p>Test Text</p>-->
                    <div class="buttons">
                        <div class="border-button">
                            <a href="{% url 'fmcs' %}">Our Leaderboard</a>
                        </div>
                        <div class="main-button">
                            <a href="{% url '404' %}" target="_blank">Join Our Discord</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="owl-banner owl-carousel">
                    <div class="item">
                        <img src="{% static 'images/banner-01.png' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/banner-02.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

{% endblock %}

{% block owl %}
<script src="{% static 'js/owl-carousel.js' %}"></script>
{% endblock %}
