{% extends "base_generic.html" %}
{% load static %}
{% block title %}Events{% endblock %}
{% block favicon %}{% static 'images/logo_fmcs.png' %}{% endblock %}
{% block events_active %}active{% endblock %}

{% block content %}

<!-- ***** Header Area End ***** -->


<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>FMCS Events</h6>
                <h2>Discover Our Events</h2>
<!--                <span><a href="{% url 'home' %}">Home </a> > Events</span>-->
            </div>
        </div>
    </div>
    <div class="featured-explore">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-features owl-carousel">
                        {% for event in carousel_list %}
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'images/featured-04.jpg' %}" alt="" style="border-radius: 20px;">
                                <div class="hover-effect">
                                    <div class="content">
                                        <a href="{% url 'tournament_detail' tournament_id=event.id %}">
                                            <h4>{{ event.name }}</h4>
                                        </a>
                                        <span class="author">
<!--                        <img src="{% static 'images/author.jpg' %}" alt=""-->
<!--                             style="max-width: 50px; max-height: 50px; border-radius: 50%;">-->
                        <h6>{{event.org.name}}<br><a href="#">@{{event.org.description}}</a></h6>
                        <h6>{{event.get_status}}<br></h6>
                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--CurrentlyMarket    -->
    <div class="currently-market">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2><em>Events</em> By FMCS</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="filters">
                        <ul>
                            <li data-filter="*" class="active">All Events</li>
                            <li data-filter=".msc">Finished</li>
                            <li data-filter=".dig">Ongoing</li>
                            <li data-filter=".blc">Upcoming</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row grid">
                        {% for event in events_list %}
                            {% if event.get_status == "Finished" %}
                                <div class="col-lg-6 currently-market-item all msc">
                            {% elif event.get_status == "Ongoing" %}
                                <div class="col-lg-6 currently-market-item all dig">
                            {% else %}
                                <div class="col-lg-6 currently-market-item all blc">
                            {% endif %}
                        <div class="item">
                            <div class="left-image">
                                <img src="{% static 'images/featured-04.jpg' %}" alt=""
                                     style="border-radius: 20px; min-width: 125px;">
                                <div class="line-dec"></div>
                                <span class="bid">
                    Status<br><strong>{{event.get_status}}</strong><br>
                  </span>
                            </div>
                            <div class="right-content">
                                <h4>{{ event.name }}</h4>
                                <span class="author">
<!--                    <img src="{% static 'images/author.jpg' %}" alt="" style="max-width: 80px; border-radius: 50%;">-->
<!--                    <img src="{% static 'images/author.jpg' %}" alt="" style="max-width: 70%; border-radius: 30%;">-->
                    <h6>{{event.org.name}}<br><a href="#">@{{event.org.description}}</a></h6>
                  </span>
                                <div class="line-dec"></div>
<!--                                <span class="ends">-->
                                <span class="bid">
                    Start Date<br><strong>{{event.start_date}}</strong><br>
                  </span>
                                <div class="line-dec"></div>
                                <span class="bid">
                    End Date<br><strong>{{event.end_date}}</strong><br>
                  </span>
                                <div class="text-button">
                                    <a href="{% url 'tournament_detail' tournament_id=event.id %}">View Event</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--CurrentlyMarketEnd-->
            {% endblock %}

            {% block owl %}
<script src="{% static 'js/owl-carousel.js' %}"></script>
            {% endblock %}