{% extends "base_generic.html" %}
{% load static %}
{% block title %}FMCS | {{ tournament.name }} {% endblock %}
{% block favicon %}{% static 'images/logo_fmcs.png' %}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/match.css' %}">
{% endblock %}
{% block content %}

<div class="author-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="author">
                    <img src="{% static 'images/single-author.jpg' %}" alt=""
                         style="max-width: 170px;">
                    <!--                    <img src="{% static request.user.profile.avatar.url %}" alt=""-->
                    <!--                    <img src="{{ request.user.profile.avatar.url }}" alt=""-->

                    <!--                         style="border-radius: 50%; max-width: 170px;">-->
                    <h4> {{tournament.name}}<br>
                        <!--                        <a>@{{tournament.org.name}}</a>-->
                        <a>@{{tournament.org.name}}</a>
                    </h4>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-info">
                    <div class="row">
                        <div class="col-5">
                            <div class="info-item">
                                <i class="fas fa-calendar-alt"></i>
                                <h6>
                                    {% if tournament.start_date %}
                                    <span style="color: white;">Start Date:</span> {{ tournament.start_date }}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </h6>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="info-item">
                                <i class="fas fa-calendar-alt"></i>
                                <!--                                <h6>@profile <em>Twitter</em></h6>-->
                                {% if tournament.end_date %}
                                <h6><span style="color: white;">End Date:</span> {{tournament.end_date}}</h6>
                                {% else %}
                                <h6> TBA </h6>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="info-item">
                                {% if tournament.get_status %}
                                {% if event.get_status == "Upcoming" %}
                                <i class="fas fa-lock-open"></i>
                                <h6><span style="color: white;">Status:</span> {{tournament.get_status}}</h6>
                                {% else %}
                                <i class="fas fa-lock"></i>
                                <h6><span style="color: white;">Status:</span> {{tournament.get_status}}</h6>
                                {% endif %}
                                {% else %}
                                <h6> TBA </h6>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="info-item">
                                <i class="fas fa-chart-bar"></i>
                                {% if matches_played %}
                                <h6><span style="color: white;">Matches Played:</span> {{ matches_played }}</h6>
                                {% else %}
                                <h6> NO MATCHES </h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h2><em>Matches</em>.</h2>
                </div>
            </div>
            <!--            <div class="col-lg-3 col-md-6">-->
            <div id="matches-container">
                {% include 'match_list.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block owl %}
<script src="{% static 'js/owl-carousel.js' %}"></script>
{% endblock %}

<!--{% block extra_scripts %}-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        // Обработчик клика на ссылку "предыдущая страница"-->
<!--        $('#match-list').on('click', '.prev-page', function (e) {-->
<!--            e.preventDefault();-->
<!--            loadMatches($(this).data('page'));-->
<!--        });-->

<!--        // Обработчик клика на ссылку "следующая страница"-->
<!--        $('#match-list').on('click', '.next-page', function (e) {-->
<!--            e.preventDefault();-->
<!--            loadMatches($(this).data('page'));-->
<!--        });-->

<!--        // Функция для загрузки матчей через AJAX и обновления контейнера-->
<!--        function loadMatches(page) {-->
<!--            $.ajax({-->
<!--                url: window.location.href,  // Используем текущий URL-->
<!--                data: {page: page},  // Передаем номер страницы-->
<!--                dataType: 'html',-->
<!--                success: function (data) {-->
<!--                    $('#match-list').html($(data).find('#match-list').html());-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--    });-->
<!--</script>-->
<!--{% endblock %}-->