{% extends "base_generic.html" %}
{% load static %}
{% block title %}FMCS | {{ tournament.name }} {% endblock %}

{% block content %}

<div class="author-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="author">
                    <img src="{% static 'images/single-author.jpg' %}" alt=""
                         style="max-width: 170px;">
                    <!--                    <img src="{% static request.user.profile.avatar.url %}" alt=""-->
                    <!--                    <img src="{{ request.user.profile.avatar.url }}" alt=""-->

                    <!--                         style="border-radius: 50%; max-width: 170px;">-->
                    <h4> {{tournament.name}}<br>
                        <!--                        <a>@{{tournament.org.name}}</a>-->
                        <a>@{{tournament.org.name}}</a>
                    </h4>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-info">
                    <div class="row">
                        <div class="col-5">
                            <div class="info-item">
                                <i class="fas fa-calendar-alt"></i>
                                <h6>
                                    {% if tournament.start_date %}
                                    Start Date: {{ tournament.start_date }}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </h6>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="info-item">
                                <i class="fas fa-calendar-alt"></i>
                                <!--                                <h6>@profile <em>Twitter</em></h6>-->
                                {% if tournament.end_date %}
                                <h6>End Date: {{tournament.end_date}}</h6>
                                {% else %}
                                <h6> TBA </h6>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="info-item">
                                {% if tournament.get_status %}
                                {% if event.get_status == "Upcoming" %}
                                <i class="fas fa-lock-open"></i>
                                <h6>Status: {{tournament.get_status}}</h6>
                                {% else %}
                                <i class="fas fa-lock"></i>
                                <h6>Status: {{tournament.get_status}}</h6>
                                {% endif %}
                                {% else %}
                                <h6> TBA </h6>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="info-item">
                                <i class="fas fa-chart-bar"></i>
                                {% if matches_played %}
                                <h6>Matches Played: {{ matches_played }}</h6>
                                {% else %}
                                <h6> NO MATCHES </h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h2>{{username.get_username}} <em>Teams</em>.</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                {% if player %}
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12">
                        <span class="author">
                          <img src="{% static 'images/author.jpg' %}" alt=""
                               style="max-width: 50px; border-radius: 50%;">
                        </span>
                            <img src="{% static 'images/logo_fmcs.png' %}" alt="" style="border-radius: 20px;">
                            <h4>{{player.name}}</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="line-dec"></div>
                            <div class="row">
                                <div class="col-6">
                                    <span>Rating: <br> <strong>{{ player.rating|floatformat:"0" }}</strong></span>
                                </div>
                                <div class="col-6">
                                    <span>Rating Name: <br> <strong>FMCS</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="{% url 'team_profile' formatted_player_name=player.formatted_name %}">View
                                    Team</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <p>NO TEAMS</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block owl %}
<script src="{% static 'js/owl-carousel.js' %}"></script>
{% endblock %}

{% block extra_scripts %}

{% endblock %}