{% extends "base_generic.html" %}
{% load static %}
{% block title %}FMCS | {{ player.name }} {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cardflip.css' %}">
<link rel="stylesheet" href="{% static 'css/circlechart.css' %}">
<link rel="stylesheet" href="{% static 'css/chart.css' %}">
{% endblock %}

{% block content %}
<!-- ***** Header Area End ***** -->
<div class="categories-collections">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

                    <!-- ***** Banner Start ***** -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-profile ">
                                <div class="row">
                                    <div class="col-lg-4 align-self-center-card">
                                        <div class="cards-wrapper">
                                            <div class="card-container">
                                                <div class="card">
                                                    <div class="card-contents card-front">
                                                        <div class="card-depth">
                                                            <img src="{% static 'images/logo_fmcs.png' %}" alt=""
                                                                 style="max-width: 180px; max-height: 180px;">
                                                            <hr>
                                                            <h2>{{ player.name }}</h2>
                                                        </div>
                                                    </div>
                                                    <div class="card-contents card-back">
                                                        <div class="card-depth">
                                                            <h2>RATING: {{ player.rating|floatformat:"0" }}</h2>
                                                            <hr>
                                                            <h2>RANKING: {{ player.ranking }}</h2>
                                                            <hr>
                                                            <h2>{{player.country.name}}</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 align-self-center-profile">
                                        <div class="main-info header-text">
                                            {% if player.user %}
                                            <span><a href="{% url 'user_profile' username=player.user %}">
                                                    @{{ player.user }}</a></span>
                                            {% else %}
                                            <span>@{{ player.user }}</span>
                                            {% endif %}
                                            <h4>{{ player.name }}</h4>
                                            <!--                                            <p>FLAG</p>-->
                                            <!--                                            <p>{{series}}</p>-->
                                            <div class="main-border-button">
                                                <a href="#">Fantasy Squad</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 align-self-center-matches">
                                        <ul>
                                            <h2>Match History</h2>
                                            <li></li>
                                            {% for match in last_matches %}
                                            <li class="match-item">
                                                <div class="match-details">
                                                    <img src="{% static 'images/logo_fmcs.png' %}" alt=""
                                                         class="team-logo">
                                                    <span class="team-details team1-details">
                                                        <a href="{% url 'team_profile' match.player1.id %}"
                                                           class="team-name">{{ match.player1.name }}</a>
                                                    </span>
                                                    <span class="goals">
                                                        {{ match.player1_goals_m1 }} - {{ match.player2_goals_m1 }} |
                                                        {{ match.player1_goals_m2 }} - {{ match.player2_goals_m2 }}
                                                    </span>
                                                    <span class="team-details team2-details">
                                                        <a href="{% url 'team_profile' match.player2.id %}"
                                                           class="team-name">{{ match.player2.name }}</a>
                                                    </span>
                                                    <img src="{% static 'images/logo_fmcs.png' %}" alt=""
                                                         class="team-logo">
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="clips">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="heading-section">
                                                        <h4><em></em>Team Performance</h4>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="rating-card">
                                                        <h2>Team Rating</h2>
                                                        <div id="area-chart" data-series="{{ series }}"
                                                             data-categories="{{ categories }}">
                                                            <div class="grid"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="rating-card">
                                                        <h2>Team Stat</h2>
                                                        <div class="circle-container">
                                                            <div class="circle-box">
                                                                <h2>
                                                                    <span style="color: lime;">{{ player.wins }}</span>
                                                                    <span style="color: white;">/</span>
                                                                    <span style="color: white;">{{ player.draws }}</span>
                                                                    <span style="color: white;">/</span>
                                                                    <span style="color: red;">{{ player.losses }}</span>
                                                                </h2>
                                                                <div class="chart"
                                                                     data-percent="{{ win_rate|floatformat:'0' }}"
                                                                     data-scale-color="#ffb400">
                                                                    {{ win_rate|floatformat:'0' }} %
                                                                    <h3>WIN RATE</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gaming-library profile-library">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4><em></em> Team performance of month</h4>
                            </div>
                        </div>
                    </div>
                    <div class="gaming-library profile-library">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4><em></em>Top Achievements</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block owl %}
<script src="{% static 'js/owl-carousel.js' %}"></script>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/cardflip.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'js/ratingchart.js' %}"></script>
<script src="{% static 'js/circlechart.js' %}"></script>
{% endblock %}