{% extends "base_generic.html" %}
{% load static %}
{% block title %}Welcome to FMCS{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
<link rel="stylesheet" href="{% static 'css/registr.css' %}">
{% endblock %}

{% block content %}

<div class="main-banner-login">
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <form method="post">
                            {% csrf_token %}
                            <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                            <label for="reg-log"></label>
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">Log In</h4>
                                                {% if messages %}
                                                <ul class="messages">
                                                    {% for message in messages %}
                                                    <p class="mb-0 mt-4 text-center"
                                                       style="color: #c98dfc; text-shadow: 1px 1px 2px #000000; text-indent: -40px;">
                                                        {{message}}</p>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                                <div class="form-group">
                                                    <input type="text" class="form-style" placeholder="Nickname"
                                                           name="nickname">
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" class="form-style" placeholder="Password"
                                                           name="password">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <button type="submit" class="reg-btn mt-4">Log In</button>
                                                <p class="mb-0 mt-4 text-center"><a href="" class="link">Forgot your
                                                    password?</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-3 pb-3">Sign Up</h4> {% if messages %}
                                                <ul class="messages">
                                                    {% for message in messages %}
                                                    <p class="mb-0 mt-4 text-center"
                                                       style="color: #c98dfc; text-shadow: 1px 1px 2px #000000; text-indent: -40px;">
                                                        {{message}}</p>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                                <div class="form-group">
                                                    <input type="text" class="form-style" placeholder="Nickname"
                                                           name="new_nickname">
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="email" class="form-style" placeholder="Email"
                                                           name="new_email">
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" class="form-style" placeholder="Password"
                                                           name="new_password">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <button type="submit" class="reg-btn mt-4">Register</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
