{% extends "base_generic.html" %}
{% load static %}
{% block title %}Profile | {{username.get_username}}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock %}

{% block content %}

<div class="author-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="author">
                    <img src="{{ username.profile.avatar.url }}" alt=""
                         style="max-width: 170px;">
                    <h4> {{username.first_name}} {{username.last_name}}<br>
                        <a href="#">@{{username.get_username}}</a>
                    </h4>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-info">
                    <div class="row">
                        <div class="col-5">
                            <div class="info-item">
                                <i class="fa fa-discord"></i>
                                {% if editing_profile %}
                                {{ form.discord }}
                                {% else %}
                                <h6>
                                    {% if discord %}
                                    {{ discord }}
                                    {% else %}
                                    NO INFO
                                    {% endif %}
                                </h6>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="info-item">
                                <i class="fa-brands fa-x-twitter"></i>
                                <!--                                <h6>@profile <em>Twitter</em></h6>-->
                                {% if twitter_username %}
                                <h6><a href="{{profile.twitter}}"> {{twitter_username}} </a></h6>
                                {% else %}
                                <h6> NO INFO </h6>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="info-item">
                                <i class="fa fa-telegram"></i>
                                {% if telegram_username %}
                                <h6><a href="{{profile.telegram}}"> {{telegram_username}} </a></h6>
                                {% else %}
                                <h6> NO INFO </h6>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="info-item">
                                <i class="fa-solid fa-location-pin"></i>
                                {% if country %}
                                <h6><a>{{country.alpha3}} | {{country.name}}</a></h6>
                                {% else %}
                                <h6> NO INFO </h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <h5>Last login: {{ username.last_login }}</h5>
                        </div>
                        <div class="col-7">
                            {% if user.is_authenticated and username == request.user %}
                            <div class="main-button">
                                <a href="{% url 'edit_profile' %}">Edit Profile</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h2>{{username.get_username}} <em>Teams</em></h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                {% if player %}
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12">
                        <span class="author">
                          <img src="{{ username.profile.avatar.url }}" alt=""
                               style="max-width: 50px; border-radius: 50%;">
                        </span>
                            <img src="{{ player.logo.url }}" alt="" style="border-radius: 20px;">
                            <h4>{{player.name}}</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="line-dec"></div>
                            <div class="row">
                                <div class="col-6">
                                    <span>Rating: <br> <strong>{{ player.rating|floatformat:"0" }}</strong></span>
                                </div>
                                <div class="col-6">
                                    <span>Rating Name: <br> <strong>FMCS</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="{% url 'team_profile' formatted_player_name=player.formatted_name %}">View
                                    Team</a>
                            </div>
                            {% if user.is_authenticated and player.user == request.user %}
                            <div class="main-button">
                                <a href="{% url 'edit_team' formatted_player_name=player.formatted_name %}">Edit
                                    Team</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% else %}
                <p>NO TEAMS</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block owl %}
<script src="{% static 'js/owl-carousel.js' %}"></script>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function () {
        // Проверка, был ли запрос на редактирование
        var editing_profile = {% if request.GET.edit %} true {% else %} false {% endif %};

        // Скрыть форму редактирования при загрузке страницы
        if (!editing_profile) {
            $("#profile-form").hide();
        }

        // Обработчик клика по ссылке "Edit Profile"
        $("#edit-profile-link").click(function (e) {
            e.preventDefault();

            // Переключение между режимами редактирования и просмотра
            if (editing_profile) {
                $("#profile-form").hide();
                $(this).text("Edit Profile");
            } else {
                $("#profile-form").show();
                $(this).text("Cancel");
            }

            editing_profile = !editing_profile;
        });
    });
</script>
{% endblock %}