<!DOCTYPE html>
<html>
<head>
  <title>Bracket Viewer</title>
  {% load static %}
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/stylebracket.css' %}">-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/brackets-viewer@latest/dist/brackets-viewer.min.css" />
</head>
<body>
  <div class="container">
    <h1>Bracket Viewer</h1>
    <div id="bracket"></div>
  </div>

  {% block extrahead %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brackets-viewer@latest/dist/brackets-viewer.min.js"></script>
  {% endblock extrahead %}
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
