<!DOCTYPE html>
<html>
<head>
	<title>Рейтинг команд</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/ranking.css' %}">
	<link rel="stylesheet" href="{% static 'css/ranking2.css' %}">
	<link rel="stylesheet" href="{% static 'css/page-content.css' %}">
	<link rel="stylesheet preload" as="style" href="{% static 'css2-1.css' %}">
	<link rel="stylesheet preload" as="style" href="{% static 'css.css' %}">
	<link rel="stylesheet preload" as="style" href="{% static 'icon.css' %}">
	<noscript>
	<link href="{% static 'css2-1.css' %}" rel="stylesheet">
	<link href="{% static 'css2.css' %}" rel="stylesheet">
	<link href="{% static 'icon.css' %}" rel="stylesheet">
	</noscript>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="MuiBox-root gg-class-1vyvbdm">
		<div class="MuiStack-root gg-css-hp7nwm">
			<div name="team-list-header"></div>
			<p class="MuiTypography-root MuiTypography-body1 gg-css-3jsrwa">Search</p>
			<div class="MuiFormControl-root MuiTextField-root gg-css-10v0szi">
				<div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl MuiInputBase-adornedEnd gg-css-1773t32">

				</div>
			</div>
		</div>
		<div class="header">

		</div>
	</div>
</body>

</html>