{% extends "base_generic.html" %}
{% load static %}
{% block title %}FMCS | {{match.player1.name}} vs {{match.player2.name}} {% endblock %}
{% block favicon %}{% static 'images/logo_fmcs.png' %}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/match.css' %}">
{% endblock %}
{% block content %}
<div class="categories-collections">
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-lg-12">
                    <div class="page-content">
                        <!--    <main class="site-content site-content&#45;&#45;center page" id="wrapper">-->

                        <!--    <div class="container">-->
                        <!--        <div class="match-heading page-heading&#45;&#45;default text-small text-center w-100 ">-->
                        <div class="match-heading page-heading--default text-small text-center w-100 ">
                            <div class="page-heading__subtitle h5"><span
                                    class="color-primary">{{match.date_played}} /</span>
                                {{match.player1.name}} <span class="color-primary">vs</span> {{match.player2.name}}
                            </div>
                            <a href="{% url 'tournament_detail' match.event.id %}">
                                <h1 class="page-heading__title h2">{{match.event}}</h1></a></div>
                        <ul class="match-stats-links match-stats-links--main">
                            <li><a href="#" class="active">
                                <i class="fa-solid fa-shield-halved"></i>
                            </a></li>
                            <!--                            <li><a href="#">-->
                            <!--                                <i class="fa-solid fa-chart-simple"></i>-->
                            <!--                            </a></li>-->
                            <!--                                        <li><a href="./matches-lineups-1.html">-->
                            <!--                                            <svg role="img" class="df-icon df-icon&#45;&#45;lineups">-->
                            <!--                                                <use xlink:href="assets/img/necromancers.svg#lineups"></use>-->
                            <!--                                            </svg>-->
                            <!--                                        </a></li>-->
                            <!--                                        <li><a href="./matches-replay.html">-->
                            <!--                                            <svg role="img" class="df-icon df-icon&#45;&#45;replay">-->
                            <!--                                                <use xlink:href="assets/img/necromancers.svg#replay"></use>-->
                            <!--                                            </svg>-->
                            <!--                                        </a></li>-->
                        </ul>
                        <div class="match-overview mt-sm-auto mb-sm-auto">
                            <div class="match-overview__body">
                                <figure class="match-team" role="group">
                                    <a href="{% url 'team_profile' match.player1.formatted_name %}">
                                        <figure class="match-team-logo match-team-logo--team-1" role="group"
                                                style="height: 180px; display: flex;
                                        align-items: center; justify-content: center;">
                                            <img src="{{ match.player1.logo.url }}"
                                                 srcset="{{ match.player1.logo.url }} 2x" alt={{match.player1.name}}>
                                        </figure>
                                    </a>
                                    <figcaption>
                                        <a href="{% url 'team_profile' match.player1.formatted_name%}">
                                            <div class="match-team__name">{{match.player1.name}}</div>
                                        </a>
                                        <div class="match-team__country">{{match.player1.country.name}}</div>
                                    </figcaption>
                                </figure>
                                <!--                                            <div class="col-md-4">-->
                                <!--                                                <div class="match-overview__result">-->
                                <!--                                                    <div class="match-result match-result&#45;&#45;winner-left"><span-->
                                <!--                                                            class="match-result__score">{{match.player1_goals_m1}} :-->
                                <!--                                                        {{match.player2_goals_m1}}</span>-->
                                <!--                                                    </div>-->
                                <!--                                                    <div class="match-result match-result&#45;&#45;winner-right"><span-->
                                <!--                                                            class="match-result__score">{{match.player1_goals_m2}} :-->
                                <!--                                                        {{match.player2_goals_m2}}</span> <span-->
                                <!--                                                            class="match-result__label">Final score</span>-->
                                <!--                                                    </div>-->
                                <!--                                                </div>-->
                                <!--                                            </div>-->
                                <div class="col-md-4">
                                    <div class="match-overview__result">
                                        <div class="{% if match.player1_goals_m1 > match.player2_goals_m1 %}match-result match-result--winner-left{% elif match.player1_goals_m1 < match.player2_goals_m1 %}match-result match-result--winner-right{% else %}match-result{% endif %}">
                                            <span class="match-result__score">{{ match.player1_goals_m1 }} : {{ match.player2_goals_m1 }}</span>
                                        </div>
                                        <div class="{% if match.player1_goals_m2 > match.player2_goals_m2 %}match-result match-result--winner-left{% elif match.player1_goals_m2 < match.player2_goals_m2 %}match-result match-result--winner-right{% else %}match-result{% endif %}">
                                            <span class="match-result__score">{{ match.player1_goals_m2 }} : {{ match.player2_goals_m2 }}</span>
                                            <span class="match-result__label">Final score</span>
                                        </div>
                                    </div>
                                </div>
                                <figure class="match-team" role="group">
                                    <a href="{% url 'team_profile' match.player2.formatted_name %}">
                                        <figure class="match-team-logo match-team-logo--team-2" role="group"
                                                style="height: 180px; display: flex;
                                        align-items: center; justify-content: center;">
                                            <img
                                                    src="{{ match.player2.logo.url }}"
                                                    srcset="{{ match.player2.logo.url }} 2x" alt={{match.player2.name}}>
                                        </figure>
                                    </a>
                                    <figcaption>
                                        <a href="{% url 'team_profile' match.player2.formatted_name%}">
                                            <div class="match-team__name">{{match.player2.name}}</div>
                                        </a>
                                        <div class="match-team__country">{{match.player2.country.name}}</div>
                                    </figcaption>
                                </figure>
                            </div>
                            <!--                <ul class="match-overview__footer list-unstyled">-->
                            <!--                    <li><span>Instance</span>Week 5 Day 2</li>-->
                            <!--                    <li><span>Time</span>10:30pm PCT</li>-->
                            <!--                    <li><span>Total Duration</span>01:56:32</li>-->
                            <!--                    <li><span>Venue</span>Shenlong Arena</li>-->
                            <!--                    <li><span>Game</span>Xenowatch</li>-->
                            <!--                </ul>-->
                        </div>
                    </div>

                    <!--    </main>-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block owl %}
<script src="{% static 'js/owl-carousel.js' %}"></script>
{% endblock %}


{% block extra_scripts %}

{% endblock %}